<div class='container'>
  <div class="header">
    <div class="title">Edwin U Kannanaikkal</div>
    <div class="menu">
      <div>Home</div>
      <div>About</div>
      <div>Projects</div>
    </div>
    <div>Github</div>
  </div>
  <div class="main">
    <div class="section detail">
      <div class="explanation">
        <div>Hi, I'm Edwin</div>
        <div class="profileval">Full Stack Developer</div>
        <div>
          <a href="mailto:edwinforedwin@gmail.com">Contact Me</a>
        </div>
      </div>
      <div>
        <img src="IMG20231226155258.jpg" alt="Profile Image" id="profileimage">
      </div>
    </div>
    <div class="section abouttitle">
      <div class="aboutmeword">About Me</div>
      <div>-------------------------------------------------------------</div>
    </div>
  </div>
</div>