<div class='container'>
  <div class="header">
    <div class="title">Portfolio</div>
    <div class="menu">
      <div><a href="." class="anon">Home</a></div>
      <div><a href="#about" class="anon">About</a></div>
      <div><a href="#project" class="anon">Projects</a></div>
    </div>
    <div>
      <a href="https://github.com/edwinforedwin" target="_blank"><img src="githublogo.png" alt="github logo" id="githublogo"></a>
    </div>
  </div>
  <div class="main">
    <div class="section detail" id="title">
      <div class="explanation">
        <div>Hi, I'm Edwin</div>
        <div class="profileval">Full Stack Developer</div>
        <div>
          <a href="mailto:edwinforedwin@gmail.com">Contact Me</a>
        </div>
      </div>
      <div>
        <img src="IMG20231226155258.jpg" alt="Profile Image" id="profileimage">
      </div>
    </div>
    <div class="section about" id="about">
      <div class=" sectiontitle">About Me</div>
      <div class="abouttext">I’m a passionate software developer from Kerala, India, holding a postgraduate degree in computer science. My expertise lies primarily in the Angular framework, where I enjoy creating dynamic user interfaces, and buliding backend services using ExpressJS. Also a 'Pythonista' who really interested in data analytics and supervised machine learning. Beyond my professional pursuits, I am an avid reader, with a particular love for fiction, which fuels my imagination and inspires my creativity both in and out of the tech world.</div>
    </div>
    <div class="section projects" id="project">
      <div class=" sectiontitle">Projects</div>
      <div class="projectvalues">
        <div class="projecttitlesection">
          <div class="projecttitle">tiketo - Ticketing solution for teams</div>
          <div><a href="https://github.com/edwinforedwin/tiketo" target="_blank"><img src="githublogo.png" alt="github logo" id="githublogo"></a></div>
        </div>
        <div class="projectstatus">Ongoing</div>
        <div class="projectexplain">Team work create wonders. A ticketing application is the bloodline in the same. By this project I mean to build a tool that makes ticketing easier ever. From the usual blames among team members, this tool will provide solutions using AI. Following modules were the key elements in the project,
          <ul>
            <li>Project Concentric
            <li>Issue Resolver</li>
            <li>Compass</li>
            <li>Adios Help</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
  <div class="footer">
    <div>Created using</div>
    <div><a href="https://angular.dev/" target="_blank"><img src="angular.png" alt="angularlogo" id="angularlogo"></a></div>
  </div>
</div>